@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #__next {
    min-height: 100vh;
    color-scheme: dark;
    @apply bg-slate-900 text-slate-200 font-mono;

  }

  * {
    @apply text-slate-300;
  }
  
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-lg;
  }

  .markdown-body {
    box-sizing: border-box;
    margin-inline: auto;
    padding: 45px;
  }
  
  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }

  .presenter-mode-active .slide {
    font-size: 24px;
    @apply min-h-screen mb-40;
  }

  ol, ul, menu {
    list-style: unset;
  }
}